.errorpage {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  line-height: 95vh;
  font-size: 5rem;
  color: rgb(255, 174, 0);
}

@media (max-width: 1100px) {
  .errorpage {
    font-size: 3rem;
  }
}
