.navigation {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5vh;
  padding: 2%;
  background-color: black;
  font-size: 2rem;
  z-index: 1;
  border-bottom: 2px solid rgb(255, 174, 0);
}

.logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(255, 174, 0);
  transition: 0.8s;
  border-radius: 20%;
}

.logo:hover {
  font-size: 1.8rem;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
  color: rgb(255, 174, 0);
}

.panel {
  width: 40%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

li .active {
  background-color: rgb(255, 174, 0);
  color: black;
}

li:hover {
  font-size: 2.4rem;
}

@media (max-width: 1100px) {
  .navigation {
    height: 8vh;
    font-size: 1.7rem;
  }
}

@media (max-width: 1100px) {
  .navigation {
    height: 8vh;
    font-size: 1.5rem;
  }
  li .active {
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  .navigation {
    height: 12vh;
    font-size: 1.5rem;
  }
  li .active {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }
  .panel {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .navigation {
    height: 12vh;
    font-size: 1.8rem;
  }
  li .active {
    font-size: 1.8rem;
  }
}

@media (max-width: 400px) {
  .navigation {
    height: 12vh;
    font-size: 1.5rem;
  }
  li .active {
    font-size: 1.5rem;
  }
}
