* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Glory", sans-serif;
}
body {
  min-height: 100%;
  background: rgb(31, 29, 29);
}

.section {
  margin: 15% 5%;
}

li:hover {
  font-size: 2rem;
}

@media (max-width: 319px) {
  * {
    display: none;
  }
}
